include LICENSE
include README.md
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
recursive-include *.xml *.cmd *.sh

include ads_deploy/_version.py

include versioneer.py
include ads_deploy/templates/*.rst
include ads_deploy/templates/*.macro
